body {
  max-width: 1080px;
  font-size: 25px;
}

.first {
  height: auto;
  margin: 0 auto 50px;
}

.bg {
  /* width: 1500px; */
  height: 560px;
  width: 100%;
}

.header {
  padding: 20px 50px;
  margin-bottom: 20px;
  justify-content: center;
}

.logo {
  width: 80px;
  margin-right: 20px;
}

.header-h1 {
  font-size: 63px;
  margin-right: 0;
}

.nav {
 display: none;
}

.wrapper {
  margin: 0 60px;
  justify-content: center;
}

.wrapper-form {
  padding: 20px;
  width: 500px;
  margin-right: 0;
}

.ask {
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 30px;
}

.form {
  margin: 0 auto 30px;
  width: 350px;
  padding:0;
}

.form li {
  font-size: 23px;
}

.button-form {
  font-size: 19px;
  margin: 15 auto 30px;
}

.title {
  display: none;
}

.stages {
  margin-bottom: 55px;
}

.stages_h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 23px;
}

.stages_ul {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.stages_li {
  font-size: 25px;
  margin-bottom: 25px;
}

.stages_li-1 {
  margin-left: 0;
}

.stages_li-1:before, .stages_li-2:before, .stages_li-3:before, .stages_li-4:before {
  content: '1';
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 13px;
  border: 3px solid #234F7A;
}

.stages_li-2 {
  margin-left: 0;
}

.stages_li-2:before {
  content: '2';
}

.stages_li-3 {
  margin-left: 0;
}

.stages_li-3:before {
  content: '3';
}

.stages_li-4 {
  margin-left: 0;
}

.stages_li-4:before {
  content: '4';
}

.line {
  display: none;
}

.services {
  padding-bottom: 20px;
  font-size: 23px;
}

.bg-white {
  max-width: 520px;
  padding: 20px 22px;
  border: 3px solid  #234F7A;
  justify-content: space-around;
}

.services__icon-div {
 margin-right: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.services__h3 {
 font-size: 24px;
 margin-bottom: 30px;
 text-align: center;
}

.services__icon {
  width: 42px;
  margin-bottom: 20px;
}

.services__li {
  margin-bottom: 14px;
}

.slick-arrow{
  margin: -15px 0 0 0;
  width: 40px;
  height: 40px; 
}




.slider {
  max-width: 700px;
}

.slider-img {
  max-height: 300px;
}

