body {
  max-width: 480px;
  font-size: 24px;
}

.first {
  height: auto;
  margin: 0 auto 32px;
}

img.bg {
  display: none;
}

.header {
  padding: 12px 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.logo {
  width: 65px;
  margin-right: 18px;
}

.header-h1 {
  font-size: 43px;
  margin-right: 0px;
}

.nav {
  display: none;
}

.wrapper {
  margin: 0 20px;
  justify-content: center;
}

.wrapper-form {
  padding: 20px;
  width: 355px;
  margin-right: 0px;
}

.ask {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}

.form {
  margin: 0 auto 20px;
  width: 300px;
  padding: 0;

}

.form li {
  font-size: 17px;
}

input, 
textarea {
  width: 300px;
}

/* input:focus, 
textarea:focus {
  /* Дополнительная подсветка для элементов в фокусе */
  /* box-shadow: 0 3px 3px #0b3153 inset;
  border: none;
} */ 

textarea {
  /* Выровним многострочные текстовые поля с их текстами-подсказками */
  /* vertical-align: top; */
  max-width: 300px;
  min-width: 250px ;
  min-height: 57px;
  max-height: 200px;
  /* Предоставим пространство для ввода текста */
  /* height: 4em; */

}

.button-form {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: .1em;
  margin: 10 auto 15px;
  box-shadow: 3px 8px 8px rgba(11, 49, 83, 0.3);
  width: 180px;
  height: 45px;
}

.title {
  display: none;
}

.stages {
  margin-bottom: 30px;
}

.stages_h2 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
}

.stages_ul {
  padding: 0 auto;
  /* margin-bottom: 100px; */
  margin: 0 14px;
}

.stages_li {
  font-size: 16px;
  margin-bottom: 10px;
}

.stages_li-1 {
  margin-left: 0;
}

.stages_li-1:before, .stages_li-2:before, .stages_li-3:before, .stages_li-4:before {
  content: '1';
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 7px;
  border: 3px solid #234F7A;
}

.stages_li-2 {
  margin-left: 0;
}

.stages_li-2:before {
  content: '2';
}

.stages_li-3 {
  margin-left: 0;
}

.stages_li-3:before {
  content: '3';
}

.stages_li-4 {
  margin-left: 0;
}

.stages_li-4:before {
  content: '4';
}

.line {
  display: none;
}





.services {
   padding-bottom: 30px;
   font-size: 16px;
 }
 
 .bg-white {
   max-width: 300px;
   padding: 15px 12px;
   border: 2px solid  #234F7A;
 }
 
 .services__icon-div {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .services__h3 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
 }
 
 .services__icon {
   width: 36px;
   margin-bottom: 20px;
 }
 
 .services__li {
   margin-bottom: 8px;
 }
 
 
.third {
  display: none;
}